body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}

.container {
    display: flex;
    justify-content: center;
}

.info-box {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}

.map-container {
    flex: 1;
    padding: 20px;
}

.route-info, .emission-info {
    margin-bottom: 20px;
}

.route-info h2, .emission-info h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.route-info ul {
    list-style: none;
    padding: 0;
}

.route-info ul li {
    margin-bottom: 5px;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
}

.marker-icon {
    background-position: center;
    background-size: 30px 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 30px;
}

.marker {
    height: 30px;
    width: 30px;
}

.points {
    margin-bottom: 20px;
}
.badge {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.highlight {
    font-weight: bold;
    color: green;
}