{% extends 'index.html' %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1>Eigenes Fahrzeug hinzufügen</h1>
      <form action="/add_custom_car" method="post">
        <div class="mb-3">
          <label for="custom_manufacturer" class="form-label">Hersteller:</label>
          <input type="text" name="custom_manufacturer" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="custom_model" class="form-label">Model:</label>
          <input type="text" name="custom_model" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="custom_model_desc" class="form-label">Beschreibung:</label>
          <input type="text" name="custom_model_desc" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="custom_fuel_type" class="form-label">Treibstoff Art:</label>
          <select name="custom_fuel_type" class="form-select" required>
            <option value="Petrol">Benziner</option>
            <option value="Diesel">Diesel</option>
          </select>
        </div>

        <div class="mb-3">
          <input type="submit" value="Fahrzeug hinzufügen" class="btn btn-dark">
        </div>
      </form>

      <p><a href="/routing">Zurück zum Routing</a></p>
    </div>
  </div>
</div>
{% endblock %}
