<footer class="footer bg-dark text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col text-white text-center">
                <h5 class="text-uppercase">Name:</h5>
                <p>
                    Kasam Saidi
                </p>
            </div>
            <div class="col text-white text-center">
                <h5 class="text-uppercase">Abgabe Datum:</h5>
                <p>
                    25.03.2024
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>
            Kasam Saidi Matrikelnummer: 569341
        </p>
    </div>
</footer>
