<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">Kasam Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if session['username'] is defined and session['username']|length %}
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                    <a class="nav-link" href="{{url_for('routing_input_handler')}}">Routing</a>
                    <a class="nav-link" href="{{ url_for('user_profile', username=session['username']) }}">User Profile</a>
                {% else %}
                    <a class="nav-link" href="{{url_for('login_user')}}">Login</a>
                    <a class="nav-link" href="{{url_for('add_user')}}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>