{% extends 'index.html' %}
{% block body %}
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Leaderboard</h1>
                <table class="table table-striped mt-4">
                    <thead class="thead-dark">
                        <tr>
                            <th class="col-1">Platzierung</th>
                            <th class="col-4">Nutzername</th>
                            <th class="col-1">{{ filter_title }}</span></th>
                        </tr>
                        <tr>
                            <th class="col-1">Sortieren nach:</th>
                            <th colspan="2">
                                <div class="btn-group" role="group">
                                    <a href="{{ url_for('leaderboard', username=session['username'], filter_criteria='points') }}" class="btn btn-sm btn-dark btn-width" data-filter="Punkte">Punkte</a>
                                    <a href="{{ url_for('leaderboard', username=session['username'], filter_criteria='routes_driven') }}" class="btn btn-sm btn-dark btn-width" data-filter="Anzahl Fahrten">Nicht Eco Routen</a>
                                    <a href="{{ url_for('leaderboard', username=session['username'], filter_criteria='eco_routes_driven') }}" class="btn btn-sm btn-dark btn-width" data-filter="Anzahl Fahrten">Eco Routen</a>
                                    <a href="{{ url_for('leaderboard', username=session['username'], filter_criteria='saved_emissions') }}" class="btn btn-sm btn-dark btn-width" data-filter="g/km">Gesparte Emissionen</a>
                                    <a href="{{ url_for('leaderboard', username=session['username'], filter_criteria='km_driven') }}" class="btn btn-sm btn-dark btn-width" data-filter="km">Gefahrene Kilometer</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user, value in leaderboard %}
                            <tr {% if logged_in_user and user.id == logged_in_user.id %}class="highlight"{% endif %}>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
