{% extends 'index.html' %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/login_register" method="POST">
        <div class="mb-3">
          {{ form.username.label(class_="form-label") }}
          {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.password.label(class_="form-label") }}
          {{ form.password(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
